.hero {
  background: linear-gradient(rgb(29, 44, 70) 0%, rgb(23, 36, 58) 10%);
  min-height: 100vh;
  text-align: center;
  z-index: 10;
  padding: 3.125rem 0;

  @media (max-width: 768px) {
    padding: 3.125rem 0;
  }

  // @media (min-width: 768px) {
  //   &::after {
  //     content: '';
  //     background: url(../../../public/borboleta-esquerda.svg) no-repeat left
  //       center;
  //     background-size: contain;
  //     height: 100%;
  //     width: 100%;
  //     display: block;
  //     position: absolute;
  //     left: 0;
  //     top: 0;
  //   }
  // }

  // &::before {
  //   content: '';
  //   background: url(../../../public/borboleta-direita.svg) no-repeat right
  //     center;
  //   background-size: contain;
  //   height: 100%;
  //   width: 100%;
  //   display: block;
  //   position: absolute;
  //   right: 0;
  //   top: 0;
  // }

  .container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
