.card {
  width: 100%;
  max-width: 536px;
  z-index: 1;

  &__header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1.5625rem 0.9375rem;
    background-color: var(--white);
    margin-bottom: 0.9375rem;

    .avatar {
      width: 180px;
      margin-bottom: 0.9375rem;
      border-radius: 50%;
    }
  }

  &__urlSite {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.625rem;
    display: block;
  }

  &__desc {
    color: var(--gray-700);
    margin-bottom: 0.9375rem;
  }

}
